{% load staticfiles %}

<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>BRICLO</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
 <link rel="stylesheet" type="text/css" href="{% static "home/base.css" %}">
</head>
<body>
  <div class="bar">
    <div style="width:30%;height:80%;top:10%;left:0%;">
     <a href="{% url "home.views.intro" %}">
        <img  src="/media/logo.png" width=70% height=80% style=" margin-left:20%; margin-top:1.5%">
     </a>
    </div>
    <div style="width:70%;top:40%;">
      <a href="{% url "product:product_list" %}">
        <li style="margin-left:3em;margin-right:2em">
          코디
        </li>
      </a>
      
      <a href="{% url "product:product_top_list" %}">
        <li style="margin-right:2em">
          상의
        </li>
      </a>
      
      <a href="{% url "product:product_bottom_list" %}" >
        <li style="margin-right:5em">
          하의
        </li>
      </a>
      
      <li style="margin-right:1em">Login</li>
      
      <li style="margin-right:1em">/</li>
      
      <li style="margin-right:3em">Register</li>

      <a href="{% url "home:team_introduce" %}">
        <li style="margin-right:10em">브리클로 소개</li>
      </a>
      
      <li>Search</li>
    </div>
  </div>
  {% block content %}
  {% endblock %}