<html lang="en">
<head>
   <meta charset="UTF-8">
    <title>BRICLO</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

</head>
<body>
  <div class="bar">
    <div style="width:30%;height:80%;top:10%;left:0%;">
      <img src="/media/logo.png" width=70% height=80% style=" margin-left:20%; margin-top:1.5%">
    </div>
    <div style="width:70%;top:40%;">
      <li style="margin-left:3em;margin-right:2em">코디</li>
      <li style="margin-right:2em">상의</li>
      <li style="margin-right:5em">하의</li>
      <li style="margin-right:1em">Login</li>
      <li style="margin-right:1em">/</li>
      <li style="margin-right:3em">Register</li>
      <li style="margin-right:10em">브리클로 소개</li>
      <li>Search</li>
    </div>
  </div>
  {% block content %}
  {% endblock %}