{% extends 'product/base.html' %}
{% load staticfiles %}

{% block content %}
   <head>
     <link rel="stylesheet" type="text/css" href="{% static "product/detail.css" %}">

  </head>

  <div class="gallery">
     <p1 style="margin-left:39%;font-size:3em">CONTENTS</p1>
    <div class='row'>
    {% for product in product_list %}
                  <div>
                    <img class="product_main_image" src="{{ product.main_photo.url}}"/>
                  </div>
    {% endfor %}
     </div>
     <div class='row'><div>2</div><div></div><div></div><div></div></div>
     <div class='row'><div>3</div><div></div><div></div><div></div></div>
     <div class='row'><div>4</div><div></div><div></div><div></div></div>
     <div class='row'><div>5</div><div></div><div></div><div></div></div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
    function checkScrollPosition() {
    if ($('.gallery').height() <= $(window).scrollTop() + $(window).height()) {

      $(".gallery").append("<div class='row'><div>"+($(".row").length+1)+"</div><div></div><div></div><div></div></div>");
    }
    }
    $(window).scroll(checkScrollPosition);
    });
  </script>
  </body>
</html>
{% endblock %}
