{% extends 'product/base.html' %}
{% load staticfiles %}

  {% block content %}
  <head>
     <link rel="stylesheet" type="text/css" href="{% static "product/intro.css" %}">

  </head>

  <body>
    </div>

<div class="container">
  <div style="background-color:white;height:40%;">
    <div style="float:left;width:45%;height:80%;margin-left:3%;margin-top:1.5%">lender</div>
    <div style="float:left;width:45%;height:80%;margin-left:3%;margin-top:1.5%">renter</div>
  </div>

  <div style="background-color:#CDDAE5;height:70%;">
    <div style="width:93%;height:100%;background-color:lightblue;margin-left:3%;">Image</div>
  </div>

  <div style="height:10%;background-color:white"></div>
  <div style="height:50%;background-color:lightblue;">팀원소개홈페이지
  </div>

  <div style="height:10%;background-color:white;"></div>
  <div style="height:50%;background-color:#173456;">Footer
  </div>
</div>

  </body>
</html>

  {% endblock %}