{% extends 'product/base.html' %}
{% load staticfiles %}

  {% block content %}
  <head>
     <link rel="stylesheet" type="text/css" href="{% static "product/intro.css" %}">

  </head>

  <body>
    <div class="bar">
      <div style="width:30%;height:80%;top:10%;left:0%;">
        <img src="https://jandi-box.com/files-thumb/11998765/8a2105ce648dd31837d890fc506f145d.jpg?size=640" width=100% height=100%>
      </div>
      <div style="width:70%;top:40%;">
        <li style="margin-left:3em;margin-right:2em;color:#008DCC"><u>코디</u></li>
        <li style="margin-right:2em">상의</li>
        <li style="margin-right:5em">하의</li>
        <li style="margin-right:1em">Login</li>
        <li style="margin-right:1em">/</li>
        <li style="margin-right:3em">Register</li>
        <li style="margin-right:10em">브리클로 소개</li>
        <li>Search</li>
      </div>
    </div>

<div class="container">
  <div style="background-color:white;height:40%;">
    <div style="float:left;width:45%;height:80%;margin-left:3%;margin-top:1.5%">lender</div>
    <div style="float:left;width:45%;height:80%;margin-left:3%;margin-top:1.5%">renter</div>
  </div>

  <div style="background-color:#CDDAE5;height:70%;">
    <div style="width:93%;height:100%;background-color:lightblue;margin-left:3%;">Image</div>
  </div>

  <div style="height:10%;background-color:white"></div>
  <div style="height:50%;background-color:lightblue;">팀원소개홈페이지
  </div>

  <div style="height:10%;background-color:white;"></div>
  <div style="height:50%;background-color:#173456;">Footer
  </div>
</div>

  </body>
</html>

  {% endblock %}